# OS X Finder
*.DS_Store

# automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode per-user config
*.mode1                     
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
*.xccheckout
*.moved-aside
xcuserdata

# Build products
build/
*.o
*.LinkFileList
*.hmap

